.destinations .slick-list {
  padding: 20px 0;
}

.newOffers .slick-track {
  margin: 0 auto;
}

.reviews .slick-list {
  padding: 0px;
}

.reviews .slick-slide {
  padding: 0 6px;
}

.reviews .slick-dots li {
  margin: 0;
}

.reviews .slick-prev {
  left: -60px;
}

.reviews .slick-prev::before {
  color: #000;
  font-size: 40px;
}

.reviews .slick-next::before {
  color: #000;
  font-size: 40px;
}
