.main-btn {
  background: linear-gradient(90deg, #92278F 0%, #F16F5B 100%);
}

.main-btn-disable {
  background: linear-gradient(90deg, #cb96c7 0%, #f9b7b0 100%);
}

html {
  overflow: visible !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next,
.react-datepicker__current-month {
  display: none;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-color: rgb(112 112 112 / 0.3);
  border-radius: 0.25rem;
  font-size: 11px;
}

.rmdp-range {
  background-color: #93288E !important;
  color: #ffffff !important;
  /* border-radius: 0% !important; */
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select {
  margin: 0 0;
}

.range.start:not(.force) {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.range.end:not(.force) {
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.react-datepicker__header__dropdown {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.react-datepicker__header {
  background-color: #fff0;
}

.react-datepicker__day-names {
  background: rgb(112 112 112 / 0.1);
  ;
  margin-top: 8px;
}

.myContainer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1 1 0px;
}

.myDatePicker {
  width: 100% !important;
}

/* .calendar-wrapper .rmdp-header {
    display: none;
} */

.calendar-wrapper .rmdp-shadow {
  box-shadow: none;
}

.rmdp-week-day {
  background-color: rgb(243, 243, 243);
  color: #b9b9b9 !important;
  padding: 23px 19px !important;
}

.rmdp-week {
  padding: 5px;
}












.custom-slider .slick-track {
  display: flex !important;
}

.custom-slider .slick-slide {
  height: auto;
  padding-bottom: 2px;
}

.custom-slider .slick-slide div:first-child {
  height: 100%;
}

.cloudy-effect {
  background: linear-gradient(0deg, rgb(255 255 255) 0%, rgb(255 255 255 / 56%) 100%, rgb(255 255 255) 100%);
  pointer-events: none;
  /* Makes sure the overlay doesn't interfere with interaction */
}


.slick-track {
  margin-left: 0;
}





.image-gallery-svg {
  height: 30px !important;
  width: 30px !important;
  color: #000 !important;
  background: #ffffffbd !important;
  border-radius: 130px !important;
}

.image-gallery-svg:hover {
  background: #ffffffbd !important;
}

.image-gallery-thumbnail {
  width: 155px !important;
}

.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left,
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
  width: 155px !important;
}

.image-gallery-slide-wrapper.image-gallery-thumbnails-left,
.image-gallery-slide-wrapper.image-gallery-thumbnails-right {
  width: calc(100% - 165px) !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 5px;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  border-radius: 5px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 10px 10px !important;
}

.cabinSlider .slick-dots {
  bottom: 5px;
}

.cabinSlider .slick-dots .slick-active button::before {
  color: #ffffff;
  opacity: 1;
}

.cabinSlider .slick-dots li button::before {
  color: #ffffff;
  opacity: .50;
}

.cabinSlider .slick-arrow.slick-next {
  left: calc(100% - 20px) !important;
  /* right: 80px !important; */
  top: 55% !important;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  display: block !important;
}

.cabinSlider .slick-next:before,
.cabinSlider .slick-prev:before {
  content: none;
}

.cabinSlider .slick-prev {
  left: 10px !important;
  z-index: 28;
  top: 55% !important;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.modal-thank-content {
  position: relative;
}

.closeModal {
  background-color: #fff;
  border-radius: 50%;
  padding: 6px;
  height: 30px;
  position: absolute;
  width: 30px;
  top: -92px;
  right: -11px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}