.theEmpressCabin .slick-prev {
    left: -45px;
}

.theEmpressCabin .slick-prev::before,
.theEmpressCabin .slick-next::before {
    color: black;
    font-size: 40px;
}

/* .theEmpressCabin .slick-next {
    right: -45px;
} */

/* Tilted Slide */

.mobileTiltedSlider .slick-slide {
    transition: transform 0.5s ease-in-out;
}

/* Keeps the center slide normal */
.mobileTiltedSlider .slick-center .slick-slide-custom {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

/* Left slide tilts to the left */
.mobileTiltedSlider .slick-slide[aria-hidden="true"] .slick-slide-custom {
    transform: rotate(-10deg);
    opacity: 0.75;
    bottom: -24px;
    left: -32px;
}
  
/* Right slide tilts to the right */
.mobileTiltedSlider .slick-active + .slick-slide .slick-slide-custom {
    transform: rotate(10deg);
    opacity: 0.75;
    bottom: -24px;
    left: 32px;
}

.mobileTiltedSlider .slick-slide {
  padding: 20px 0;
}

/* .mobileTiltedSlider .slick-active ~ .slick-slide .slick-slide-custom {
    transform: rotate(-6deg);
    opacity: 0.75;
    bottom: -12px;
    left: -20px;
} */
  
/* Right slide tilts to the right */
/* .mobileTiltedSlider .slick-active + .slick-slide ~ .slick-slide .slick-slide-custom {
    transform: rotate(6deg);
    opacity: 0.75;
    bottom: -12px;
    left: 20px;
} */

.desktopTiltedSlider .slick-prev {
    left: -45px;
}

.desktopTiltedSlider .slick-prev::before,
.desktopTiltedSlider .slick-next::before {
    color: black;
    font-size: 40px;
}

.clip-slant {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
}

.clip-slant-rev {
    clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
}

.image-gallery-slide-wrapper {
    border-radius: 6px;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .clip-slant {
        clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
    }
    
    .clip-slant-rev {
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
