/* .carousel-root{
    display: flex;
}

.thumbs{
    display: flex;
    flex-direction: column;
} */

.image-gallery-svg {
    height: 30px !important;
    width: 30px !important;
    color: #000 !important;
    background: #ffffffbd !important;
    border-radius: 130px !important;
}
.image-gallery-svg:hover {
    background: #ffffffbd !important;
}

.image-gallery-thumbnail {
    width: 155px !important;
}

.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
    width: 155px !important;
}

.image-gallery-slide-wrapper.image-gallery-thumbnails-left, .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
    width: calc(100% - 165px) !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    border-radius: 5px;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border-radius: 5px;
}
.image-gallery-left-nav, .image-gallery-right-nav {
    padding: 10px 10px !important;
}