.ourFleet .slick-slider .slick-prev {
    position: absolute;
    top: 30px;
    /* left: 272px; */
    left: 80%;
    z-index: 9;
}

.ourFleet .slick-slider .slick-next {
    position: absolute;
    top: 30px;
    /* right: 20px; */
    right: 5%;
    z-index: 9;
}

.ourFleet .slick-arrow::before {
    color: white;
    font-size: 30px;
}

.ourFleet .slick-dots {
    display: flex !important;
    bottom: 28px;
    padding: 0 12px;
}

.ourFleet .slick-dots li {
    width: 30%;
    background: white;
    height: 6px;
    border-radius: 6px;
    margin-right: 0;
    opacity: .5;
    flex: 1;
}

.ourFleet .slick-dots li.slick-active {
    opacity: 1;
}

.ourFleet .slick-dots li button {
    color: white;
    width: 100%;
}

.ourFleet .slick-dots li button::before {
    content: "";
    color: white;
    width: 100%;
}

@media (min-width: 1024px) {
    /* .ourFleet .slick-arrow::before {
        font-size: 40px;
    }

    .ourFleet .slick-slider .slick-prev {
        top: 40px;
    } */

    .ourFleet .slick-slider .slick-next {
        /* top: 40px; */
        right: 5%;
    }

    .ourFleet .slick-dots {
        padding: 0 40px;
    }
}
