.inputUpload {
  border-radius: 8px;
  border: 1px solid #555;
}

input[type=file] {
  color: #444;
  background: #fff;

}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 8px;
  margin: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  top: 0;
  bottom: 0;
  margin: auto 5px auto 0;
}

.react-datepicker__view-calendar-icon input {
  padding: 6px 10px 5px 35px;
}

.react-datepicker-wrapper{
  width: 100%;
}