.react-calendar__month-view__days__day--weekend {
    color: #3f3f3f;
}

.react-calendar {
    background: white;
    border: 1px solid;
    border-color: rgb(230 232 236 / 40);
    border-radius: 4px;
    width: 100%;
}

.react-calendar__navigation__label__labelText {
    font-family: Outfit, outfit;
    font-weight: 600;
}

.react-calendar__navigation {
    margin-bottom: 0;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: 500;
    background: #FAFAFA;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(230 232 236 / 40);
    padding: 5px 0;
}


.react-calendar__month-view__weekdays__weekday abbr:where([title]) {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.react-calendar__navigation__arrow {
    color: #93288E;
    font-size: 34px;
    margin-top: -7px !important;
    min-width: 80px !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: rgb(230 232 236 / 0);
}

.flash-tags abbr {
    border: 2px solid #009821 !important;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
}

.fast-tags abbr {
    border: 2px solid #FF6B00 !important;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
}

.lowest-tags abbr {
    border: 2px solid #93288E !important;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
}

.available-tags abbr {
    border: 2px solid #000 !important;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 600;
}

.react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f000;
    color: #ababab;
}

.react-calendar__month-view__days {
    margin: 6px 0;
}

.react-calendar__tile--active {
    border: none !important;
}

.react-calendar__tile {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0;
}

@media (min-width: 640px) {
    .react-calendar__tile {
        height: 50px;
        margin: 10px 0;
    }
}

.react-calendar__tile--active {
    background: #006edc00 !important;
    color: white;
}

.react-calendar__tile--active abbr {
    background: #0079D0 !important;
    color: white;
    border: 0 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e600;
}

/* 
.react-calendar button {
    width: 40px;
    height: 40px;
} */


.primaryCardSlider {
    margin: 0 1rem;
}

.bannerCarouselSlider .slick-arrow.slick-next {
    left: calc(91% + 90px) !important;
    /* right: 0 !important; */
    top: 87% !important;
    display: none !important;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    border-radius: 180px;
}

.slick-prev {
    left: -45px;
}

.custom-slider .slick-track {
    display: flex !important;
}

.custom-slider .slick-slide {
    height: auto;
    padding-bottom: 2px;
}

.custom-slider .slick-slide div:first-child {
    height: 100%;
}

.cabin .slick-slide {
    padding: 10px 2px 2px 0px;
}

.cabin .texts{
    min-height: 196px;
}

.image-gallery-svg {
    height: 30px !important;
    width: 30px !important;
    color: #000 !important;
    background: #ffffffbd !important;
    border-radius: 130px !important;
}
.image-gallery-svg:hover {
    background: #ffffffbd !important;
}

.image-gallery-thumbnail {
    width: 155px !important;
}

.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-left, .image-gallery-thumbnails-wrapper.image-gallery-thumbnails-right {
    width: 155px !important;
}

.image-gallery-slide-wrapper.image-gallery-thumbnails-left, .image-gallery-slide-wrapper.image-gallery-thumbnails-right {
    width: calc(100% - 165px) !important;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
    border-radius: 5px;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border-radius: 5px;
}
.image-gallery-left-nav, .image-gallery-right-nav {
    padding: 10px 10px !important;
}